header#main-header {
    height: 60px;
    width: 100%;
    background-color: rgb(173, 38, 20);
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}